# MongoDB
MONGODB_URI=mongodb://localhost:27017/lms

# JWT
JWT_SECRET=your_super_secret_jwt_key_here_change_in_production
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Server
PORT=5000
NODE_ENV=development
ALLOWED_ORIGINS=https://eduhive-lms.vercel.app

# LiveKit (SFU virtual classroom)
# Cloud: https://cloud.livekit.io  |  Self-host: https://docs.livekit.io/home/self-hosting/local/
LIVEKIT_URL=wss://edu-hive-lms-l830o0rm.livekit.cloud
LIVEKIT_API_KEY=APIDtfLFqcebPJX
LIVEKIT_API_SECRET=grroNlgNjw6wfTX7S9jbDYK7t1VvQQPbjOtAFYpFfKN